.Header{
  display: flex;
  justify-content: space-between;

  align-items: center;
  min-height: 120px;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  &__logo{
    cursor: pointer;
    font-size: 37px;
  }
  &__list{
    list-style: none;
    display: flex;
    color: black;
    font-size: 22px;
    align-items: center;
  }
  &__link{
    display: inline-block;
    margin-left: 15px;
    transition: all .1s ease-in;
    &:hover{
      color: #ffffff;
    }
  }

  &__icon{
    position: relative;
  }

  &__basket{
    display: inline-block;
    margin-left: 26px;
    bottom: 10px;
    color: black;
    font-size: 30px;
    transition: all .1s ease-in;
    &:hover{
      color: #ffffff;
    }
  }
  &__count{
    height: 29px;
    width: 29px;
    position: absolute;
    top: -29px;
    left: 44px;
    font-size: 19px;
    background-color: #fda407;
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      color: initial;
    }
  }

}